<!DOCTYPE html>
<html lang="{{ site.Language.Lang | default `zh` }}" class="{{ if .IsHome }}is-home has-home-layout{{ else if eq .Kind `404` }}has-404-layout{{ end }}"{{- with site.Params.search -}}{{- if .enable -}} data-search-threshold="{{ default 0.35 .threshold }}"{{- end -}}{{- end -}}>
<head>
  {{- partial "head.html" . -}}
</head>
<body class="{{ if default true .Site.Params.loader.enable }}sakura-loading{{ end }}">
  {{- partial "loader.html" . -}}
  {{- partial "navbar.html" . -}}
  <div id="content" class="site-content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "footer.html" . -}}
  {{- partial "pjax-loader.html" . -}}
  {{- partial "search-modal.html" . -}}
  {{- partial "music-player.html" . -}}
  {{- partial "live2d-widget.html" . -}}
  {{- partial "scripts.html" . -}}
</body>
</html>
